.page-search-card {
    min-height: 60px;
    margin-top: 8px;
    .el-form-item--mini.el-form-item,
    .el-form-item--small.el-form-item {
        margin-bottom: 0;
    }
    .el-card__body {
        padding-top: 24px;
    }
    .page-header-senior-btn {
        float: right;
    }
    .el-form-item:not(:first-child) {
        margin-left: 22px;
    }
    .el-button {
        height: 32px;
    }
}
.page-content-card {
    margin-top: 15px;
    height: calc(100% - 130px);
    overflow-x: hidden;
    .el-card__header {
        min-height: 60px;
        & > div {
            height: 24px;
            .iconfont {
                font-size: 12px;
            }
        }
        & > div > span {
            font-size: 16px;
            color: #202020;
            line-height: 24px;
            font-weight: 700;
            font-family: "pinfang";
        }
    }
    .el-card__body {
        height: calc(100% - 104px);
        min-height: 100px;
        overflow: auto;
        padding: 0 0 20px;
    }
}
